/*
 * Nextflow Configuration File
 * Raichu + pyHICCUPS Pipeline
 */

// Default parameters
params {
    // Input/Output
    input = null
    outdir = 'results'
    
    // Resolution settings
    resolutions = '2000,5000,10000'
    
    // Tool-specific options
    raichu_options = ''
    pyhiccups_options = ''
    
}


profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.conf' }
  cluster   { includeConfig 'conf/cluster.conf' }
  
}


// Report configuration

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "./pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "./pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "./pipeline_info/execution_trace_${trace_timestamp}.txt"
}

// Manifest
manifest {
    name = 'microc-loops'
    author = 'Philip Law'
    description = 'Hi-C loop detection pipeline using raichu normalisation and pyHICCUPS'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=23.04.0'
}
